@using GMS.Framework.Contract
@using GMS.Framework.Utility
@using GMS.Framework.Web.Controls
@using GMS.ToolManage.Contract

@model PagedList<tongs_entity>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section PageSpecificStyleSheetIncludes{
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css" />
    <!-- END PAGE LEVEL STYLES -->
}

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-list"></i> 工夹具记录
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover dataTable no-footer" role="grid">
            <thead>
                <tr>
                    <th style="width: 8px;">
                        <input type="checkbox" id="checkall" class="group-checkable" />
                    </th>
                    <th>
                        夹具代码
                    </th>
                    <th>
                        夹具系列号
                    </th>
                    <th>
                        采购单据号
                    </th>
                    <th>
                        入库日期
                    </th>
                    <th>
                        存放库位
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        已使用次数
                    </th>
                    <th>
                        故障概率
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="checkboxes" name='ids' value='@m.ID' />
                        </td>
                        <td>
                            @m.Code
                        </td>
                        <td>
                            @m.SeqID
                        </td>
                        <td>
                            @m.BillNo
                        </td>
                        <td>
                            @m.RegDate.ToString("yyyy-MM-dd HH-mm-ss")
                        </td>
                        <td>
                            @m.Location-@m.Bin
                        </td>
                        <td>
                            @m.State
                        </td>
                        <td>
                            @m.UsedCount
                        </td>
                        <td>
                            @m.ErrProbability
                        </td>
                        <td>
                            <a class="btn btn-xs purple" title='查看工夹具全寿命信息' href="@Url.Action("Index","FullLife", new { id = m.ID })">
                                <i class="fa fa-list"></i> 全寿命
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" role="status" aria-live="polite">
                    Total : @Model.TotalItemCount entries
                </div>
            </div>
            @if (Model.TotalPageCount > 1)
            {
                <div class="col-md-7 col-sm-12">
                    <div class="dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            @if (Model.CurrentPageIndex == 1)
                            {
                                <li class="paginate_button previous disabled" aria-controls="sample_1" tabindex="0"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                            }
                            else
                            {
                                <li class="paginate_button previous" aria-controls="sample_1" tabindex="0" id="sample_1_previous"><a href="?pageIndex=@(Model.CurrentPageIndex-1)"><i class="fa fa-angle-left"></i></a></li>
                            }
                            @if (Model.TotalPageCount <= 5)
                            {
                                for (int i = 1; i <= Model.TotalPageCount; ++i)
                                {
                                    if (i == Model.CurrentPageIndex)
                                    {
                                        <li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                    }
                                }
                            }
                            else
                            {
                                if (Model.TotalPageCount - 5 >= Model.CurrentPageIndex)
                                {
                                    for (int i = Model.CurrentPageIndex; i < Model.CurrentPageIndex + 4; ++i)
                                    {
                                        if (i == Model.CurrentPageIndex)
                                        {
                                            <li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                        }
                                    }
                                    <li class="paginate_button disabled" aria-controls="sample_1" tabindex="0"><a href="">...</a></li>
                                }
                                else
                                {
                                    for (int i = Model.TotalPageCount - 4; i <= Model.TotalPageCount; ++i)
                                    {
                                        if (i == Model.CurrentPageIndex)
                                        {
                                            <li class="paginate_button active" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li class="paginate_button" aria-controls="sample_1" tabindex="0"><a href="?pageIndex=@i">@i</a></li>
                                        }
                                    }
                                }
                            }
                            @if (Model.CurrentPageIndex == Model.TotalPageCount)
                            {
                                <li class="paginate_button disabled" aria-controls="sample_1" tabindex="0" id="sample_1_next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            }
                            else
                            {
                                <li class="paginate_button" aria-controls="sample_1" tabindex="0" id="sample_1_next"><a href="?pageIndex=@(Model.CurrentPageIndex+1)"><i class="fa fa-angle-right"></i></a></li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>