@using GMS.Core.Config
@using GMS.Web.Admin.Common
@{
	var adminMenuConfig = CachedConfigContext.Current.AdminMenuConfig;
	var permissions = AdminUserContext.Current.LoginInfo.BusinessPermissionList.Select(p => p.ToString());
}
@foreach (var group in adminMenuConfig.AdminMenuGroups)
			{
				if (!string.IsNullOrEmpty(group.Permission) && !permissions.Contains(group.Permission))
				{
					continue;
				}

				var menus = group.AdminMenuArray.Where(m => string.IsNullOrEmpty(m.Permission) || permissions.Contains(m.Permission));
				var hasSub = menus.Count() > 0;

				if (!hasSub && string.IsNullOrEmpty(group.Url))
				{
					continue;
				}

				<li>
					<a href="@(hasSub ? "javascript:;" : group.Url)" title="@group.Info">
						<i class="@group.Icon"></i>
						<span class="title">@group.Name</span>
						@if (hasSub)
						{
							<span class='arrow'></span>
						}
					</a>
					@if (hasSub)
					{
						<ul class="sub-menu">
							@foreach (var menu in menus)
							{
								<li><a href="@menu.Url" title="@menu.Info">@menu.Name</a></li>
							}
						</ul>
					}
				</li>
			}
